@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" style="margin-top: 30px;">
       <div class="col-md-12">
           <h2>Simulador de Micro-ondas</h2>
           <p class="lead">Introduza o tempo e a potência para iniciar o aquecimento. </p>
       </div>
    </section>

    <hr />

    <div class="row">
        <div class=" col-md-6">
            @using (Html.BeginForm("Iniciar", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Tempo (1 a 120 segundos): </label>
                    <input type="number" name="segundos" class="form-control" value="@ViewBag.Segundos" placeholder="Vazio = 30 seg (Início Rapido)" />
                </div>
                <br />
                <div class="form-group">
                    <label>Potência (1 a 10): </label>
                    <input type="number" name="potencia" class="form-control" value="@(ViewBag.Potencia ?? 10)" />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Iniciar Aquecimento</button>
            }
        </div>

        <div class="col-md-6">
            @if (ViewBag.Resultado != null)
            {
                <hr />
                if (ViewBag.Resultado.StartsWith("Erro"))
                {
                    <div class="alert alert-danger">
                        @ViewBag.Resultado
                    </div>
                }
                else
                {
                    <div class="card">
                        <div class="card-header">Painel de Visualização</div>
                        <div class="card-body" style="background-color: #000; color:#0f0; font-family: monospace;">
                            @ViewBag.Resultado
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>